{
  "name": "{{NAME_LOWER}}",
  "private": true,
  "version": "0.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "svelte-check --tsconfig ./tsconfig.json && vite build",
    "preview": "vite preview",
    "check": "svelte-check --tsconfig ./tsconfig.json"
  },
  "devDependencies": {
    "@sveltejs/vite-plugin-svelte": "^7.1.2",
    "@tsconfig/svelte": "^5.0.8",
    "svelte": "^5.55.7",
    "svelte-check": "^4.４.８",
    "tslib": "^2.8.１",
    "typescript": "～６.０.３",
    "vite": "^８.0.13"
  }
}
